[Desktop Entry]
Type=Application
Categories=Game
Exec=BINARY
Name=DISPLAY_NAME
Comment=New Construction Options
NoDisplay=false
Path=/INSTALL_PATH
Terminal=false
Icon=ICON_NAME
