## Rules Editor

The easiest way to change game rules for Tiberian Dawn is to use the in-game editor.

- Launch the game and select `Rules Editor` on the main menu selection screen:

    [<img src="img/td-rules-editor-menu.png" width="400">](img/td-rules-editor-menu.png)

    [<img src="img/td-rules-editor-enhancements.png" width="400">](img/td-rules-editor-enhancements.png)

- You can edit select an INI file to edit in the top left, use the next dropdown to select a section (See [Rules Files](#rules-files))
- Navigate through rules using the `Next Page` and `Previous Page` buttons
- Press the `?` button beside any rule to get help
- Certain rules will require you to click an `Edit` button to bring up a separate dialog

    [<img src="img/td-rules-editor.png" width="400">](img/td-rules-editor.png)

### Reset Rules

You can reset a single INI file or all rules at once when in the Rules Editor, simply click `Load Defaults`

## Rules Files

You can manually edit game rules by opening one of the following INI text files:

- [rules.ini](#rulesini)
{% for type in concrete_types %}- [{{ type.name | lower }}.ini](#{{ type.name | lower }}ini)
{% endfor %}- [Scenario INI Files](#scenario-ini)

All rules files are created for you when you first run the game, so run the game once before trying to edit the files.

### Finding Rules Files

To view the files in a file manager, follow the steps for your Operating System below:

- **Windows**: Press Windows Key + R, type `%APPDATA%\nco\tiberian-dawn` and hit enter
- **macOS**: Open Finder, choose Go > Go to Folder and enter `~/Library/Application Support/nco/tiberian-dawn`
- **Linux**: In a terminal, run `xdg-open ~/.config/nco/tiberian-dawn`

Here are the full paths for reference (these are inside your user folder):

- **Windows**: `AppData\Roaming\nco\tiberian-dawn`
- **macOS**: `Library/Application Support/nco/tiberian-dawn`
- **Linux**: `.config/nco/tiberian-dawn`

> Note: You can also install custom scenario files in here (ini and bin files)

---

## rules.ini

`rules.ini` is a simple text file that controls game engine behavior. This was included by default by Westwood in Red Alert onward. Below is a explanation of the sections in this file and different values that can be set.

> **NOTE**: Unlike Red Alert, the `rules.ini` for NCO Tiberian Dawn does not contain units, infantry etc. - see the top of this page for the individual files

Rule Sections:

{% for section in sections %}- [{{ section.section }}](2b.Tiberian-Dawn-Rules.md#{{ section.section | lower | replace(".", "") }})
{% endfor %}{% for section in sections %}
### [{{ section.section }}]

{{ section.comment }}

| Rule | Comment |
|--------|-------------|
{% for rule in section.rules %}| `{{ rule.name }}` | {{ rule.comment }} |
{% endfor %}
```ini
; {{ section.ini_comment }}
[{{ section.section }}]
{% for rule in section.rules %}{{ rule.name }}={{ rule.default }}
{% endfor %}```
{% endfor %}

{% for type in concrete_types %}
## {{ type.name | lower }}.ini
{{ type.comment }}

| Property | Comment | Example | Valid Values |
|--------|-------------|-------------|-------------|
{% if type.has_base_type %}{% for prop in type.base_type.properties %}| `{{ prop.name }}` | {{ prop.comment }} | {{ prop.example_value }} | {{ prop.valid_values }}
{% endfor %}{% if type.base_type.has_base_type %}{% for prop in type.base_type.base_type.properties %}| `{{ prop.name }}` | {{ prop.comment }} | {{ prop.example_value }} | {{ prop.valid_values }}
{% endfor %}{% endif %}{% endif %}{% for prop in type.properties %}| `{{ prop.name }}` | {{ prop.comment }} | {{ prop.example_value }} | {{ prop.valid_values }}
{% endfor %}
```ini
; {{ type.example_instance_comment }}
[{{ type.example_instance }}]
{% if type.has_base_type %}{% for prop in type.base_type.properties %}{{ prop.name }}={{ prop.example_value }}
{% endfor %}{% if type.base_type.has_base_type %}{% for prop in type.base_type.base_type.properties %}{{ prop.name }}={{ prop.example_value }}
{% endfor %}{% endif %}{% endif %}{% for prop in type.properties %}{{ prop.name }}={{ prop.example_value }}
{% endfor %}```
{% endfor %}

## Scenario INI Files

You can override any rule from `rules.ini` or from the type ini files (`infantry.ini`, `unit.ini` etc.) inside of the INI file for a given scenario. This is similar to the way Red Alert behaves, but not identical.

For example, given the following entry in `unit.ini`:

```ini
; Gun Boat
[BOAT]
Armor=STEEL
Cost=300
Explosion=FBALL1
IsAnimating=no
; other rules
```

You could add the below to the end of `scg01ea.ini` to give the Gunboat an Obelisk Laser:

```ini
; rest of scg01ea.ini

; Gun Boat
[BOAT]
Primary=OBELISK_LASER
```

